@tailwind base;
@tailwind components;
@tailwind utilities;

.font-app {
  font-family: "Inter", sans-serif;
}

.selector {
  background: linear-gradient(206.46deg, #53fbe6 6.69%, #396bff 86.33%);
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.bg-her {
  background-image: url("/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.border-div {
  border: 5px solid;
  border-image-source: linear-gradient(
    206.46deg,
    #53fbe6 6.69%,
    #396bff 86.33%
  );
  border-image-slice: 2;
  box-sizing: border-box;
  border-radius: 15px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mob-vect {
  background-image: url("/mobvect.png");
  background-repeat: no-repeat;
  height: 100%;
}

.hom {
  background-image: url("https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGpvYnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  object-fit: cover;

  background-position: center;
}
